[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/openzeppelin-src"]
	path = lib/openzeppelin-src
	url = https://github.com/OpenZeppelin/openzeppelin-src
